<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="connection.url">
            jdbc:mysql://localhost:3306/booktag
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            root
        </property>
        <property name="connection.password">
            q1w2e3r4
        </property>
        <mapping resource="User.hbm.xml" />
        <mapping class="entity.User" />
        <mapping resource="Role.hbm.xml" />
        <mapping class="entity.Role" />
        <mapping resource="Listing.hbm.xml" />
        <mapping class="entity.Listing" />
        <mapping resource="Contact.hbm.xml" />
        <mapping class="entity.Contact" />
        <mapping resource="Message.hbm.xml" />
        <mapping class="entity.Message" />
    </session-factory>

</hibernate-configuration>