<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>administrator</web-resource-name>
            <web-resource-name>user</web-resource-name>
            <url-pattern>/getContact</url-pattern>
            <url-pattern>/getMyListing</url-pattern>
            <url-pattern>/searchListings.jsp</url-pattern>
            <url-pattern>/login.jsp</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>user</role-name>
            <role-name>administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/login.jsp</form-login-page>
            <form-error-page>/failedLogin.jsp</form-error-page>
        </form-login-config>
    </login-config>
</web-app>
